@font-face {
    font-family: "Inconsolata";
    src: url("Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf");
}



body {
    background-color: #262626;
    display: block;
    color: white;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    background-image: url("backPattern.png");
    transition: 0.1s;
}

.dark-mode {
    background-color: #e1e1e1;
    color: black;
    transition: 0.1s;
}

h1, h2, h3, h4 {
    font-family: "Montserrat";
}

h1 {
    font-size: 100px;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

h3, h4 {
    font-size: 30px;
    text-decoration: underline;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #5900FF;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: white;
}

.dark-mode a:active {
    text-decoration: underline;
    color: black;
}


.banner {
    display: flex;
    justify-content: center;
    padding: 45px;
}

.content-case{
    display: flex;
    justify-content: center;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    margin: 30px 10%;
    max-width: 1000px;
    display: block;
}

.container {
    border: 2px solid grey;
    margin: 15px 0px;
    padding: 25px;
    background-color: #262626;
    transition: 0.1s;
}

.dark-mode .container {
    background-color: #e1e1e1;
    transition: 0.1s;
}

.colour-panel {
    border: 10px solid white;
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    height: 140px;
    margin: 5px;
    text-align: center;
    color: white;
}

.dark-back {
    background-color: #262626;
}

.dark-highlight {
    background-color: #383838;
}

.light-back {
    background-color: #e1e1e1;
    border: 10px solid black;
    color: black;
}

.light-highlight {
    background-color: #bbbbbb;
    border: 10px solid black;
    color: black;
}

.border {
    background-color: #808080;
    color: white;
    transition: 0.1s;
}

.feature {
    background-color: #5900FF;
    color: white;
    transition: 0.1s;
}

.dark-mode .border,
.dark-mode .feature {
    border: 10px solid black;
    transition: 0.1s;
}

.font-guide {
    display: block;
}

.font-guide h3 {
    margin-bottom: 0px;
}

.font-guide ul {
    display: flex;
    justify-content: center;
}

.font-panel {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
}

.font-panel p {
    font-size: 25px;
    margin: 10px 0px;
    padding-right: 5px;
}

.montserrat,
.montserrat h4 {
    font-family: "Montserrat";
}

.arial,
.arial h4 {
    font-family: Arial;
}

.source-code-pro,
.source-code-pro h4 {
    font-family: "Source Code Pro";
}

.inconsolata,
.inconsolata h4 {
    font-family: "Inconsolata";
}


.text-styles {
    padding: 2px 10px;
}

.footer {
    background-color: #383838;
    position: relative;
    bottom: 0;
    display: flex;
    padding: 10px;
    padding-top: 25px;
    border-top: solid 2px grey;
    margin: 0px;
    justify-content: space-between;
    transition: 0.1s;
}

.dark-mode .footer {
    background-color: #bbbbbb;
    color: black;
    transition: 0.1s;
}

.footer-name {
    display: flex;
    align-self: last baseline;
}

.footer-year {
    display: flex;
    align-self: last baseline;
}

.footer-year p {
    padding-left: 152px;
}

.footer p {
    font-family: "Inconsolata", Arial, serif;
    display: inline;
    margin-bottom: 0px;
}

.footer button {
    margin-top: 0px;
    background-color: #383838;
    color: white;
    height: 160px;
    width: 160px;
    border-radius: 80px;
    border: 2px solid grey;
    transition: 0.1s;
}

.footer button:hover {
    border: 3px solid white;
    box-shadow: 0 0 8px 1px white;
}

.footer button:active {
    background-color: #262626;
    border: 3px solid white;
    box-shadow: 0 0 5px 1px white;
}

.dark-mode .footer button {
    background-color: #bbbbbb;
}

.dark-mode .footer button:hover {
    border: 3px solid yellow;
    box-shadow: 0 0 10x 1px yellow;
}

.dark-mode .footer button:active {
    background-color: #969696;
    border: 3px solid yellow;
    box-shadow: 0 0 5px 1px yellow;
}